$border: 1px solid #333;

html {
    height: 100%;
    margin: 0;
    padding: 0;

    --light-bg: rgba(200, 200, 200, 0.3);
    --shadow-bg: rgba(225, 225, 225, 0.3);
    --white-sheet: rgba(255,255,255,0.7);
    --accent: rgba(0,0,0,0.7);
    --accent-medium: rgba(0,0,0,0.6);
    --accent-contrast: #eee;
    --accent-blend: #bbb;
    background:
        repeating-linear-gradient(15deg, var(--light-bg) 0px, var(--light-bg) 15px, var(--dark-bg) 15px, var(--dark-bg) 30px),
        repeating-linear-gradient(-30deg, var(--light-bg) 0px, var(--light-bg) 15px, var(--dark-bg) 15px, var(--dark-bg) 30px),
        ;
}

body {
    font-family: 'Roboto Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin: 0;
}

//
// Desktop View
//
@media screen and (min-width: 50em) {
    body {
        width: 80vw;
        margin: 0 auto;
    }
    main {
        padding: 1em;
    }
    .card, .item {
        padding: 0.75em;
        margin: 0.25em;
    }
    div.group img {
        display: block;
        height: calc(5em + 10vw);
        object-fit: cover;
        object-position: 50% 33%;
        width: -moz-available;
        width: -webkit-fill-available;
        width: available;
    }
}

@media screen and (max-width: 50em) {
    div.group img {
        width: 100vw;
    }
}


h1 {
    small.n_hits {
        font-weight: normal;
        font-size: 1ex;
    }
}

p {
    margin: 0;
}

p + p {
    margin-top: 1ex;
}


header, footer {
    a {
        text-decoration: none;
        &, &:link, &:visited {
            color: var(--accent-blend);
        }
        &:focus, &:hover {
            text-decoration: underline;
            color: var(--accent-contrast);
        }
    }
}

header {
    box-shadow: 0 0 1ex #444;
    position: sticky;
    top: 0;
    z-index: 5;

    main-header {
        background-color: var(--accent);
        color: var(--accent-contrast);
        line-height: 8vh;
        display: flex;

        h1 {
            margin: 0 2vh;
            color: var(--accent-contrast);
            flex-grow: 2;
        }

        & > span {
            flex-grow: 1;
            margin-right: 1em;
        }
    }

    sub-header {
        background-color: var(--accent-medium);
        color: var(--accent-blend);
        line-height: 2vh;
        font-weight: bold;
        font-size: medium;
        display: flex;
        & a, &a:visited, &a:link {
            text-decoration: none;
            color: var(--accent-blend);
        }
        & .breadcrumbs {
            list-style-type: none;
            & li {
                display: inline;
            }
        }
    }

    .user {
        flex-grow: 5;
        text-align: right;
    }
}

footer {
    background-color: var(--accent);
    color: var(--accent-contrast);
    display: flex;

    & > span {
        flex-grow: 1;
        margin-right: 1em;
    }
    & > :last-child {
        flex-grow: 5;
        padding-left: 1em;
    }
}


main {
    background: var(--white-sheet);
    flex-grow: 1;
    margin-bottom: 1em;
}

header, footer, main {
    flex-wrap: wrap;
    align-items: center;
}

.card {
    box-shadow: 1 1px 4px 0 gray;
}

div.group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .item {
    position: relative;
    flex-grow: .1;
    &.portrait {
	    flex-grow: .3;
    }
    h2, .label {
      text-shadow: 0 0 .1em white, 0 0 .4em white;
      padding: 0 .2em;
    }
    h2 {
      position: absolute;
      margin: 0;
      line-height: 1.2;
    }
    .label {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 80%;
      background: rgba(white,0.2);
      padding-left: 1em;
      border-top-left-radius: 1.5em 100%;
    }
    &:hover {
      h2 {
        background: rgba(white,0.5);
        width: -moz-available;
        width: -webkit-fill-available;
        width: available;
      }
      .label {
        background: rgba(white,0.8);
      }
    }
  }
  p.item {
      justify-content: space-around;
  }
}

ul.alltags, ul.allpeople, ul.allplaces {
    -moz-column-width: 13em;
    column-width: 13em;
}

#map {
    border: $border;
    height: 10rem;
    margin: 1ex auto;
    max-height: 60vh;
}

form {
    p {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    label {
        padding: .2em .6em .2em 0;
    }
    textarea {
        display: block;
        width: 100%;
        font-family: inherit;
        padding: 0.5em;
    }
}

.leaflet-popup-content img {
    max-width: 11em;
    max-height: 11em;
}

.flash-message {
    white-space: pre;
}
.flash-success {
    background: #cfc;
}
.flash-warning {
    background: #ffb;
}
.flash-failure {
    background: #fdd;
}