@use crate::server::{Context, Link};

@(context: &Context, lpath: &[Link])

<header class="cardy">
  <main-header>
    <h1>
      <a href="/" accesskey="h" title="Images from all years">RImages</a>
    </h1>
    <span><a href="/tag/">Tags</a></span>
    <span><a href="/person/">People</a></span>
    <span><a href="/place/">Places</a></span>
    <span><a href="/thisday">On this day</a></span>
    <span><a href="/random" accesskey="r">Random pic</a></span>
    <span><a href="/invite">invite</a></span>
    <span><a href="/logout">log out</a></span>
  </main-header>
  <sub-header>
    <ul class="breadcrumbs">
      <li> Home </li>
      @for p in lpath {
        <li> &gt; @p </li>
      }
    </ul>
    <form action="/photo" method="POST"  enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*,video/*" multiple />
      <button>Upload</button>
    </form>
  </sub-header>
</header>
