@use super::base;
@use crate::models::{Photo, Story};
@use diesel::sqlite::SqliteConnection;
@use rocket::request::FlashMessage;
@use crate::template_utils::*;

@(db: &SqliteConnection, flash: Option<FlashMessage>)

@:base(db, "Timeline", {}, {
    @for message in flash {
        <div class="card flash-message flash-@message.name()">@message.msg()</div>
    }
    @for story in &Story::recent(db).unwrap_or(vec![]) {
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">@story.title</h1>
                    <p class="email-content-subtitle">
                        From <a>Tilo Mitra</a> at <span>@story.last_updated</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    <!-- <button class="secondary-button pure-button">Reply</button>
                    <button class="secondary-button pure-button">Forward</button>
                    <button class="secondary-button pure-button">Move to</button> -->
                </div>
            </div>

            <div class="email-content-body">
                <p>
                    @story.description
                </p>
                <photo-deck>
                    @for photo in story.related_photos(db).unwrap_or_default().iter().take(10) {
                        <label class="card item expandable">
                            <input type="checkbox" class="hide">
                            <img src="/photo/@photo.id/thumbnail" alt="Photo @photo.id" />
                            <extra-drawer>
                                <lazy-img style="background-image: url(/photo/@photo.id)" />
                            </extra-drawer>
                        </label>
                    }
                </photo-deck>
            </div>
        </div>
    }
})
